.DS_Store

// Github Copilot
github-copilot/

// Raycast
raycast/

// Tmux
tmux/plugins/
*.log

// Zed
zed/conversations/
zed/embeddings/
zed/prompts/

// Zsh
.zcompdump*
.zprofile
.zsh_history

// Work
AWS VPN Client/
AWSVPNClient/
